.header {
  height: 95vh;
  background: linear-gradient(180deg, #464174c4, rgba(55, 25, 65, 0.753)),
    url("../images/festival-pic.jpg") bottom/ cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
