//Fonts Variables:
$font-size-big: 4.6rem;
$font-size-normal: 3rem;
$font-size-small: 2rem;
$font-family-a: "Roboto", sans-serif;
$font-weight-normal: 400;

//Color Variables:
$color-primary: #8f82a5;
$color-primary-mid-dark: #464174c4;
$color-primary-purple: rgb(82, 42, 95);
$color-white: #f1f1f1;
$color-light-grey: #eee;
$color-dark-grey: #333333;
$color-black: #000000;
