//Fonts Variables:
$font-size-normal: 1.6rem;
$font-family-a: "Roboto", sans-serif;
$font-weight-normal: 400;

//Color Variables:
$color-primary: #bface2;
$color-primary-mid-dark: #464174c4;
$color-primary-purple: rgb(55, 25, 65);
$color-white: #f1f1f1;
$color-light-grey: #eee;
$color-dark-grey: #333333;
